body {
  background-color: #dae0e6;
  margin: 0px;
}

.header  {
  background-color: #4c5768;
  color: #fff;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.full-card{
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  left: 0;
  right: 0;
}

.full-card .side-card {
  background-color: #dae0e6;
  margin: 0px;
  width: 25%;
  height: 100%;
}

.full-card .main-card{
  margin: 0px;
  width: 75%;
  height: 100%;
}

.main-card .map {
  width: 100%;
  height: 75%;
}

.main-card .bot-card {
  background-color: #dae0e6;
  width: 100%;
  height: 25%;
}
