<template name='home'>
  <header>
    menuzão
  </header>

  <div class='full-card'>

    <div class='side-card'>
      side card
    </div>

    <div class='main-card'>

      <div id="map">
        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FsZiIsImEiOiJjaXVpcTJkYzMwMG5zMnpwZ3AzNjd4OHAyIn0.KrlaOdOd89IASilFH93huA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/galf/ciuiq4q6k000x2inyjm3b19pc'            
        });
        </script>
      </div>

      <div class='bot-card'>
        info
      </div>

    </div>
  </div>
</template>
